.gallery-grid {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 0;
}
.gallery-thumb {
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: 200px;
}

.gallery-thumb:hover {
  transform: scale(1.05);
}

.gallery-thumb span {
  display: block;
  padding: 0.5rem;
  background: #fff;
  text-align: center;
  font-weight: 500;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
}

.modal-content {
  position: relative;
  background: #222;
  border-radius: 10px;
  padding: 1rem;
}

.modal-video {
  width: 500px;
  max-width: 90vw;
  border-radius: 10px;
}

.modL-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}
